# 数据集缓存
extracted/
subset/
test_generate/
test_vqa_subset/
checkpoint-*/
*.safetensors
data/
data_*/
# 数据集原数据
**/origin/

# python缓存
**/__pycache__/

# model缓存
/model/blip/blip2_cache/
/model/clip/clip_cache/
cache/

blip2_lora/
clip_lora/

# 压缩文件
*.zip
*.tar.gz
*.jpg
*.png


